body{
   width:600px;
   height:500px;
    background: url(/Images/congruent_pentagon-1.jpg) repeat 0 0;
}

<style>
h4 {
    color:  #003300;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    line-height: 30px;
    display: inline;

}
h5 {
    color:  #003300;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    line-height: 30px;
    display: inline;
    margin: 10px;
}
p{
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 2px;
    margin: 5px;

}

b{
    font-weight: bold; 
    color: #333300;
}
table
{
    margin-bottom: 10px;
    border-collapse: collapse;
}
th, td 
        {
            border-collapse: collapse;

            /*margin:10px 0;*/
            border:1px solid;
            padding:2px 4px;
            font-size: 15px;
            font-family: 'Arvo', serif;
            color: #003312;

        }
        th {
            font-weight:bold;
        }

    </style>





